

/* ====>>>>>>>>>>>>>>> style for google keep clone prject */
*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Josfin Sans","Arial Narrow",Arial,sans-serif;
}


.header{
  width: 100%;
  line-height: 100px;
  background-color: yellowgreen;
  display: flex;
  /* justify-content: start; */
  align-items: center;
  padding-left: 50px;
  color: rgb(57, 55, 158);
  box-shadow: 5px 5px 15px -5px;
}
form{
  min-height: 50px;
  color: rgb(129, 21, 21);
  padding: 15px 10px 5px 15px;
  box-shadow: 5px 5px 15px -5px;
border-radius: 10px;
position: relative;
}
input{
  width: 100%;
  line-height: 30px;
  background: transparent;
  border: none;
  outline:  none;
  font-size: 2rem;
  margin: 10px 0;
  
  font-weight: bold;

}
textarea{
  width: 100%;
  line-height: 30px;
  background: transparent;
  border: none;

  outline: none;
  font-size: 1rem;
  margin: 10px 0;
}

.main_note{
  width: 500px;
  padding: 15px 10px 15px 10px;
  margin: 20px ;
}

.my_notes h1{
  color: #9b397c;

}
.my_notes p{
  color: grey;
}
.deleteIcon{
  width: 2em;
  height: 2em;
}

.note .Btn{
  position: relative;
  float: right;
  margin-right: 10px;
  color: #f4b400;
  border: none;
  width: 50px;
  height: 100px;
  background: transparent;
  cursor: pointer;
  border-radius: 50%;
  box-shadow: 5px 5px 15px -5px;

  width: 500px;
  padding: 5px 5px 15px 5px;
  margin: 100px ;


}
.plus_sign{
  border-radius: 50%;
  box-shadow: 5px 5px 15px -5px;

  width: 500px;
  padding: 5px 5px 15px 5px;
  margin: 20px ;

  font-size: 45px !important;
  font-weight: 900;
  color: #f4b400;
  cursor: pointer;
  z-index: 222;
  background: transparent;
  
}
.note{
  width: 500px;
  padding: 5px 5px 15px 5px;
  margin: 20px ;
  background: transparent;
}
.footer{
 
  /* bottom: auto;; */
  bottom: 0;
  position: fixed ;
  text-align: center;
  justify-content: cente;
  align-items: center;
}
